

<!--
原始添加编辑form表单
<form action="" method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="">{{ field.label }}</label>
            {{ field }} <span class="error pull-right" style="color: red">{{ field.errors.0 }}</span>
            {% if field.is_pop %}
                <span class="pop_btn"><a href="javascript:void(0)"
                                         onclick="pop('{{ field.url }}','{{ field.pop_back_id }}')">+</a></span>
            {% endif %}

        </div>
    {% endfor %}

    <input type="submit">
</form>
-->
<hr>
 {% block css %}
        <link rel="stylesheet" href="/static/jqp/admin.css">
        <link rel="stylesheet" href="/static/jqp/amazeui.css">
        <link rel="stylesheet" href="/static/jqp/app.css">
 {% endblock %}

<form method="post" class="am-form am-form-horizontal" novalidate>
    {% csrf_token %}
    {% for field in form %}

        <div class="am-form-group">
            <label for="user-name" class="am-u-sm-4 am-form-label">{{ field.label }}</label>
            <div class="am-u-sm-8">
            {{ field }}<span class="error pull-right" style="color: red">{{ field.errors.0 }}</span>
            </div>
        </div>

    {% endfor %}


    <div class="am-form-group">
        <div class="am-u-sm-9 am-u-sm-push-3">
            <button type="submit" class="am-btn am-btn-primary pull-right">保存</button>
        </div>
    </div>
</form>
